<!-- <div class="container mt-4">
    <h2 *ngIf="!editMode">Cadastrar Novo Assunto</h2>
    <h2 *ngIf="editMode">Editar Assunto</h2>
    
    <form (ngSubmit)="onSubmit()" #assuntoForm="ngForm">
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" id="descricao" class="form-control" [(ngModel)]="model.descricao" name="descricao" required>
      </div>
           
      
      <button type="submit" class="btn btn-primary">Salvar</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="cancelar()">Cancelar</button>
    </form>
  </div>
   -->

  <div class="container mt-4">
    <h2 *ngIf="!editMode">Cadastrar Novo Assunto</h2>
    <h2 *ngIf="editMode">Editar Assunto</h2>
    
    <form (ngSubmit)="onSubmit()" #assuntoForm="ngForm">
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" id="descricao" class="form-control" [(ngModel)]="model.descricao" name="descricao" required>
      </div>
           
      
      <button type="submit" class="btn btn-primary">Salvar</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="cancelar()">Cancelar</button>
    </form>
  </div>
  