<div class="container mt-4">
    <div class="row">
      <div class="col-lg-6">
        <form (ngSubmit)="onSubmit()" #livroForm="ngForm">
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" [(ngModel)]="model.titulo" name="titulo" required>
          </div>
          <div class="mb-3">
            <label for="editora" class="form-label">Editora</label>
            <input type="text" class="form-control" id="editora" [(ngModel)]="model.editora" name="editora" required>
          </div>
          <div class="mb-3">
            <label for="edicao" class="form-label">Edição</label>
            <input type="number" class="form-control" id="edicao" [(ngModel)]="model.edicao" name="edicao" required>
          </div>
          <div class="mb-3">
            <label for="anoPublicacao" class="form-label">Ano de Publicação</label>
            <input type="text" class="form-control" id="anoPublicacao" [(ngModel)]="model.anoPublicacao" name="anoPublicacao" required>
          </div>
          <div class="mb-3">
            <label for="assuntoSelecionado" class="form-label">Assunto do Livro</label>
            <input type="text" class="form-control" id="assuntoSelecionado" [(ngModel)]="model.assuntoNome" name="assuntoSelecionado" readonly required>
          </div>
          
          <div class="mb-3">
            <label for="autoresSelecionados" class="form-label">Autores do Livro</label>
            <ul class="list-group">
              <li *ngFor="let autor of model.livroAutores" class="list-group-item d-flex justify-content-between align-items-center">
                {{ getAutorNome(autor.autorCodAu) }} 
                <button class="btn btn-sm btn-danger" type="button" (click)="removerAutor(autor)">Remover</button>
              </li>
            </ul>
          </div>
          
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="cancelar()">Cancelar</button>
        </form>
      </div>
  
      <div class="col-lg-6">
        <h5>Selecione o Assunto</h5>
        <ul class="list-group mb-3" style="max-height: 150px; overflow-y: scroll;">
          <li *ngFor="let assunto of assuntos" class="list-group-item d-flex justify-content-between align-items-center">
            {{ assunto.descricao }}
            <button class="btn btn-sm btn-primary" (click)="selecionarAssunto(assunto)">Inserir</button>
          </li>
        </ul>
  
        <h5>Selecione os Autores</h5>
        <ul class="list-group" style="max-height: 150px; overflow-y: scroll;">
          <li *ngFor="let autor of autores" class="list-group-item d-flex justify-content-between align-items-center">
            {{ autor.nome }}
            <button class="btn btn-sm btn-primary" (click)="selecionarAutor(autor)">Inserir</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  