nav {
    background-color: rgb(165, 162, 162) !important;
    border-bottom: 2px solid black !important;
    color: white !important;
    height: 4rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 20px !important;
}

