.banner {
    background-color: #52504b;
    padding: 50px 0;
}

.banner h1 {
    margin-bottom: 20px;
}

.content .card {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
