<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Lista de Autores</h2>
        <button class="btn btn-primary" (click)="criarNovoAutor()">Criar Novo Autor</button>
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Data da Criação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let autor of autores">
                <td>{{ autor.codAu }}</td>
                <td>{{ autor.nome }}</td>
                <td>{{ autor.statusReg == 1 ? 'Ativo' : 'Inativo' }}</td>
                <td>{{ autor.dataCriacao | date:'dd/MM/yyyy' }}</td>
                <td class="text-end">
                    <button class="btn btn-warning btn-sm me-2" (click)="editarAutor(autor)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="excluirAutor(autor)">Excluir</button> 
                </td> 
            </tr>
        </tbody>
    </table>
</div>
